:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --tertiary-text-color: #ffffff; 
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #F5F4FA;
    --tertiary-bg-color: #2F303A;
    --portfolio-card-margin: 30px;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 94px 0;
}

/* Header */
.header {
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 93px;
    
    color: #000000;

    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-accent {
    color: var(--accent-color);
}

.site-nav {
    display: flex;
    
    list-style: none;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav-link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link.current {
    color: var(--accent-color);
}

.site-nav-link.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: '';

    background-color: var(--accent-color);
    
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-color);
}

.contact-list {
    list-style: none;
}

.contact-list-header {
    display: flex;
    margin-left: auto;
}

.contact-list-header .item + .item {
    margin-left: 50px;
}

.contact-link {
    display: block;

    color: var(--secondary-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.contact-link-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-link-header .icon {
    margin-right: 10px;

    fill: currentColor;
}

/* Hero */
.hero {
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-color: var(--tertiary-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url('../images/bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.hero-title {
    margin-bottom: 30px;

    color: var(--tertiary-text-color);

    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06;
    text-transform: uppercase;
}

.hero-btn {
    display: inline-block;
    min-width: 216px;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    
    background-color: var(--accent-color);
    color: var(--tertiary-text-color);

    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}

/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.20);

    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px;
    width: 528px;
    height: 581px;

    border-radius: 4px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);

    background-color: var(--primary-bg-color);
    color: #000000;

    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    color: var(--accent-color);
}

.modal-close .icon {
    fill: currentColor;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-title {
    margin-bottom: 12px;

    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.modal-form-label {
    margin-bottom: 10px;

    color: var(--secondary-text-color);
    font-size: 12px;
    letter-spacing: 0.0075em;

    cursor: pointer;
}

.modal-form-field {
    position: relative;
    margin-top: 4px;
}

.modal-form-label .input {
    padding: 11px 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    border-radius: 4px;
    outline: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label .input:focus {
    border: 1px solid var(--accent-color);
}

.modal-form-field .icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    fill: var(--primary-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label .input:focus + .icon {
    fill: var(--accent-color);
}

.textarea {
    margin-top: 4px;
    resize: none;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    border-radius: 4px;
    outline: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
    letter-spacing: 0.0075em;
}

.textarea:focus {
    border: 1px solid var(--accent-color);
}

.policies-field {
    position: relative;

    margin-top: 10px;
    margin-bottom: 30px;
}

.policies-label {
    width: 100%;
    padding-left: 36px;
    
    color: var(--secondary-text-color);
    line-height: 1.5;

    cursor: pointer;
}

.policies-label .link {
    color: var(--accent-color)
}

.policies-field .checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.policies-field .icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-55%);

    width: 16px;
    height: 15px;

    background-image: url(../images/unchecked.svg);

    pointer-events: none;

    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policies-field .checkbox:checked + .icon {
    background-image: url(../images/checked.svg);
}

.modal-form-button {
    align-self: center;
    padding: 10px 52px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;

    background-color: var(--accent-color);
    color: var(--tertiary-text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
    background-color: #188CE8;
}


/* Features */
.features {
    padding-bottom: 0;
}

.features-list {
    display: flex;

    list-style: none;
}

.features-list .item + .item {
    margin-left: 30px;
}

.features-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;

    background-color: var(--secondary-bg-color);
}

.features-name {
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-description {
    color: var(--secondary-text-color);

    line-height: 1.7;
}

/* Work */
.section-title {
    margin-bottom: 50px;
    
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
}

.work-list {
    display: flex;

    list-style: none;
}

.work-list .item {
    position: relative;
}

.work-list .item + .item {
    margin-left: 30px;
}

.work-name {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    background-color: rgba(47, 48, 58, 0.80);
    color: var(--tertiary-text-color);

    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/* Team */
.team {
    background-color: var(--secondary-bg-color);
}

.team-list {
    display: flex;
    
    list-style: none;
}

.team-list .item + .item {
    margin-left: 30px;
}

.team-card {
    width: 270px;
    border-radius: 0 0 4px 4px;
    
    background-color: var(--primary-bg-color) ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-text {
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: center;
}

.team-name {
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
}

.team-position {
    margin-bottom: 16px;

    color: var(--secondary-text-color);

    font-size: 16px;
    line-height: 1.18;
}

.team-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.team-icon-list .item {
    width: 44px;
    height: 44px;
}

.team-icon-list .item + .item {
    margin-left: 10px;
}

.team-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    color: #AFB1B8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--accent-color);
    color: var(--tertiary-text-color);
}

.team-icon-link .icon {
    fill: currentColor;
}

/* Clients */
.clients-list{
    display: flex;
    justify-content: space-between;

    list-style: none;
}

.clients-list .item {
    width: 170px;
    height: 92px;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.contact-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clients-link .icon {
    fill: currentColor;
}


/* Portfolio */
.features-title,
.projects-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.filter-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
    list-style: none;
}

.filter-btns .item + .item {
    margin-left: 8px;
}

.filter-btn {
    display: block;
    min-width: 73px;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;

    background-color: var(--secondary-bg-color);
    color: inherit;

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: inherit;
    
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--tertiary-text-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08),
        0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--portfolio-card-margin));
    margin-top: calc(-1 * var(--portfolio-card-margin));
    list-style: none;
}

.project-card {
    flex-basis: calc(100% / 3 - var(--portfolio-card-margin));
    margin-left: var(--portfolio-card-margin);
    margin-top: var(--portfolio-card-margin);
    border-bottom: 1px solid #EEEEEE;

    transition: box-shadow 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover,
.project-card:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.project-card:hover .project-overlay,
.project-card:focus .project-overlay {
    opacity: 1;
    transform: translateY(0);
}

.project-link {
    color: inherit;
    text-decoration: none;
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;

    padding: 63px 24px;

    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.90);
    color: var(--tertiary-text-color);

    font-size: 18px;
    line-height: 1.5;

    opacity: 0;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-text {
    padding: 20px 22px;
}

.project-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-type {
    color: var(--secondary-text-color);

    font-size: 16px;
    line-height: 1.8;
}

/* Footer */
.footer {
    padding: 58px 0;
    
    background-color: var(--tertiary-bg-color);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.main-footer {
    margin-right: 70px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--tertiary-text-color);
}

.address {
    color: var(--tertiary-text-color);

    line-height: 1.7;
    font-style: normal;
}

.contact-footer {
    margin-top: 9px;

    line-height: 1.7;
}

.social-footer-title,
.form-footer-title {
    margin-bottom: 20px;
    
    color: var(--tertiary-text-color);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.social-footer-list {
    display: flex;

    list-style: none;
}

.social-footer-list .item {
    width: 44px;
    height: 44px;
}

.social-footer-list .item + .item {
    margin-left: 10px;
}

.social-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;

    background-color: rgba(255, 255, 255, 0.10);
    color: var(--tertiary-text-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
    background-color: var(--accent-color);
}

.social-footer-link .icon {
    fill: currentColor;
}

.form-footer {
    margin-left: auto;
}

.form-footer-field {
    display: flex;
    align-items: center;
}

.form-footer-field .input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-radius: 4px;
    outline: none;

    background-color: transparent;
    color: var(--tertiary-text-color);

    font-size: 16px;
    line-height: 1.25;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer-field .input:focus {
    border-color: var(--accent-color);
}


.form-footer-button {
    display: flex;
    align-items: center;

    margin-left: 12px;
    padding: 10px 28px;

    border: none;
    border-radius: 4px;
    
    background-color: var(--accent-color);
    color: var(--tertiary-text-color);
    
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;

    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer-button:hover,
.form-footer-button:focus {
    background-color: #188CE8;
}

.form-footer-button .icon {
    margin-left: 10px;

    fill: currentColor;
}