.filters {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 30px;
        justify-content: center;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }
}

.filters__item {

    &:not(:last-child) {
        margin-right: 8px;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 15px;

        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    }
}

.filters__btn {
    display: block;
    min-width: 73px;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;

    background-color: $secondary-bg-color;
    color: inherit;

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: inherit;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $tertiary-text-color;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
                0px 1px 2px 0px rgba(0, 0, 0, 0.08),
                0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    }
}