.logo {
    color: #000000;

    font-family: Raleway, sans-serif;
    font-size: 24px;
    line-height: 1.2;
    text-decoration: none;

    @media screen and (min-width: $desktop) {
        font-size: 26px;
    }
}

.logo--accent {
    color: $accent-color;
}