.subtitle {
    margin-bottom: 10px;
    
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.subtitle--white {
    margin-bottom: 20px;

    color: $tertiary-text-color;
}