$primary-text-color: #212121;
$secondary-text-color: #757575;
$tertiary-text-color: #ffffff;
$accent-color: #2196F3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #F5F4FA;
$tertiary-bg-color: #2F303A;
$portfolio-card-margin: 30px;